.keypad{
    display: block;
    background-color: grey;
    font-size: 20px;
    font-weight: 700;
}

button{
    width: 20%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    
}
    

.display{
    height: 70px;
    background-color: white;
    width: 96%;
}

.container{
    background:black;
    height: 50%;
    width: 30%;
    white-space: normal;
    border: 3px solid black;
    margin: 5% 35%;
}
body{
    background-color: darkslategray;
}